@import "./fixedValues.scss", "./utilities.scss";

.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .card {
    cursor: pointer;
  }

  .standout {
    box-shadow: 0 0 0 3px black;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}
